* {
    box-sizing: border-box;
}
#container {
    position: relative;
    display: inline-block;

}

#play-stats {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 20px;

}

#player {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;

}

#player-health {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

#player-health-decrease {
    position: absolute;
    background-color: blue;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

#enemy {
    position: relative;
    height: 30px;
    width: 100%;
}

#enemy-health {
    background-color: yellow;
    height: 30px;
}

#enemy-health-decrease {
    position: absolute;
    background-color: blue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    font-size: 40px;
}

#game-over {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    font-size: 80px;

}